# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


*/bin 
*/obj 
*/Release 
*/Debug 
*.suo 
*.err 
*.log 
*.obj 
*.bin 
*.dll 
*.exe 
*.LOG 
*.user 
*.pdb 
[tT]emp 
[tT]empPE 
Ankh.Load 
thumbs.db 
*.resharper 
*.vspscc 
*.vsssccc 
*.scc 
*/_ReSharper* 
*/_ReSharper.* 
bin 
obj 
*.resharperoptions 
*.db 
*.bak 
*_ReSharper* 
*_ReSharper.* 
*.snk 
logs 
output 
TestResults 
*.crunchsolution.* 
*.crunchproject.*