<div class="header">
    <a href="#" class="button button-left back-button">
        <button>Back</button>
    </a>
    <a href="#" class="button button-icon button-right search" id="view-home-refresh">
        <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
    </a>

    <h1>measure</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="measure-summary">
        <header>
            <span class="link-text"><%= measureName %></span> (<%= measureType.name %>, <%= dataType.description %>)<br/>
        </header>
    </div>

    <div class="measure-details" >
        <div class="detail-section"><b>Name</b></div>
        <ul class="tableview tableview-links">
            <li>
                <div style="display:table; width: 95%">
                <input value="<%= measureName %>"  />
                </div>
            </li>
        </ul>   


        <div class="detail-section"><b>Measure Type</b></div>
        <ul class="tableview tableview-links">
            <li>
                <a href="" data=val="<%=MeasureTypes.INPUT.value %>"><%=MeasureTypes.INPUT.name %></a>
            </li>
            <li>
                <a href="#" data=val="<%=MeasureTypes.OUTPUT.value %>"><%=MeasureTypes.OUTPUT.name %></a> 
            </li>
        </ul>
        
        <div class="detail-section"><b>Data Type</b></div>
        <ul class="tableview tableview-links">
            <li>
                <a value="<%=DataTypes.BOOL.value %>"><%=DataTypes.BOOL.description %></a>
            </li>
            <li>
                <a value="<%=DataTypes.INTEGER.value %>"><%=DataTypes.INTEGER.description %></a>
            </li>
            <li>
                <a href="" value="<%=DataTypes.DECIMAL.value %>"><%=DataTypes.DECIMAL.description %></a>
            </li>
            <li>
                <a value="<%=DataTypes.ORDINAL.value %>"><%=DataTypes.ORDINAL.description %></a>
                <a href="#measures/<%= id %>/ordinaloptions" class="detail-disclosure"><span></span></a>
            </li>
            <li>
                <a value="<%=DataTypes.DISCRETE.value %>"><%=DataTypes.DISCRETE.description %></a>
                <a href="#measures/<%= id %>/codedoptions" class="detail-disclosure"><span></span></a>
            </li>
        </ul>

        <div style="position:relative">
            <a href="#" class="button button-icon button-right search" id="view-home-refresh">
                <button type='submit'><img src="css/images/back-button.png" alt="Refresh" width="16" height="16"></button>
            </a>
        </div>
    </div>
</div>

<div class="ordinaloptions"> Ordinal Options
</div>


<div class="codedoptions">
    Coded Options
</div>