<div class="header">
    <a href="#" class="button button-left back-button">
        <button>Back</button>
    </a>
    <a href="#" class="button button-icon button-right search" id="view-home-refresh">
        <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
    </a>

    <h1>measure</h1>
</div>

<div class="scroll striped" style="top:44px;">
    <div class="measure-summary">
        <header>
            <span class="link-text"><%= measureName %></span> (<%= measureType.name %>, <%= dataType.description %>)<br/>
        </header>
    </div>

    <div class="measure-details" >
        <div class="detail-section"><b>Name</b></div>
        <ul class="tableview tableview-links">
            <li>
                <div style="display:table; width: 95%">
                <input value="<%= measureName %>"  />
                </div>
            </li>
        </ul>   


        <div class="detail-section"><b>Measure Type</b></div>
        <ul class="tableview tableview-links data-types">
            <li>
                <a class="measure-type <%=this.measureTypeClass(MeasureTypes.INPUT) %>" data-val="<%=MeasureTypes.INPUT.value %>">
                    <span class='selectable-link-text'><%=MeasureTypes.INPUT.name %></span>
                </a>
            </li>
            <li>
                <a class="measure-type <%=this.measureTypeClass(MeasureTypes.OUTPUT) %>" data-val="<%=MeasureTypes.OUTPUT.value %>">
                    <span class='selectable-link-text'><%=MeasureTypes.OUTPUT.name %></span>
                </a> 
            </li>
        </ul>
        
        <div class="detail-section"><b>Data Type</b></div>
        <ul class="tableview tableview-links">
            <li>
                <a class="data-type <%=this.dataTypeClass(DataTypes.BOOL) %>" data-val="<%=DataTypes.BOOL.value %>">
                    <span class='selectable-link-text'><%=DataTypes.BOOL.description %></span>
                </a>
            </li>
            <li>
                <a class="data-type <%=this.dataTypeClass(DataTypes.INTEGER) %>" data-val="<%=DataTypes.INTEGER.value %>">
                    <span class='selectable-link-text'><%=DataTypes.INTEGER.description %></span>
                </a>
            </li>
            <li>
                <a class="data-type <%=this.dataTypeClass(DataTypes.DECIMAL) %>" data-val="<%=DataTypes.DECIMAL.value %>">
                    <span class='selectable-link-text'><%=DataTypes.DECIMAL.description %></span>
                </a>
            </li>
            <li>
                <a class="data-type <%=this.dataTypeClass(DataTypes.ORDINAL) %>" data-val="<%=DataTypes.ORDINAL.value %>">
                    <span class='selectable-link-text'><%=DataTypes.ORDINAL.description %></span>
                </a>
                <a href="#measures/<%= id %>/ordinaloptions" class="detail-disclosure"><span></span></a>
            </li>
            <li>
                <a class="data-type <%=this.dataTypeClass(DataTypes.DISCRETE) %>" data-val="<%=DataTypes.DISCRETE.value %>">
                    <span class='selectable-link-text'><%=DataTypes.DISCRETE.description %></span>
                </a>
                <a href="#measures/<%= id %>/codedoptions" class="detail-disclosure"><span></span></a>
            </li>
        </ul>

        <div style="position:relative">
            <a href="#" class="button button-icon button-right search" id="view-home-refresh">
                <button type='submit'><img src="css/images/back-button.png" alt="Refresh" width="16" height="16"></button>
            </a>
        </div>
    </div>
</div>

<div class="ordinaloptions"> Ordinal Options
</div>


<div class="codedoptions">
    Coded Options
</div>